<h1>Manufacturers</h1>



<ul>
  <% @manufacturers.each do |manufacturer| %>
    <li class = "<%= "domestic_#{manufacturer.domestic}" %>"><%= link_to manufacturer.name, manufacturer_path(manufacturer) %></li>
  <% end %>
</ul>

<<<<<<< HEAD
<ul>
		<li><%=link_to "Show Domestic", manufacturer.name, manufacturer_path(manufacturer) %> "class= "domestic_link",</li>
</ul>

<%= link_to "New Manufacturer", new_manufacturer_path %>
=======
<p><%= link_to "New Manufacturer", new_manufacturer_path %></p>
<p><div id="show_domestic">Show Domestic</div></p>
<p><div id="show_foreign">Show Foreign</div></p>
<p><div id="show_all">Show All</div></p>
>>>>>>> c4c00762dbbaf52c7c1b90d32fe677eade51e69f
