<h1> New Car Model</h1>
<br>
<br>
  <%= form_for ([@manufacturer, @car_model]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
<br>
<br>
  <%= f.label :mpg, "mpg" %>
  <%= f.text_field :mpg %>
<br>
<br>
  <%= f.label :price, "Price  $" %>
  <%= f.text_field :price %>
<br>
<br>
	<%= f.button "New Car" %>
  <% end %>

